*{
    margin: 0;
    padding: 0;
}


body{
    background-color: rgb(0, 0, 33);
    color: white;
    font-family: "Poppins", sans-serif;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: rgb(4, 4, 54);
}
.left{
    font-size: 1.5rem;
    font-weight: 600;
}
nav ul{
    display: flex;
    justify-content: center;
}
nav ul li{
    list-style: none;
    margin: 0 23px;
}
nav ul li a{
    text-decoration: none;
    color: white;
}
nav ul li a:hover{
    color: rgb(100, 56, 219);
    font-size: 1.04rem;
}
main hr{
    border: 0;
    background: #9c97f1;
    height: 1.2px;
    margin: 80px 70px;
}
.firstsection{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 160px 0;
}

.firstsection >div{
 width: 30%;
}

.leftsection{
   font-size: 3rem;
}
.leftsection button{
    padding: 50px 0;
}
.leftsection .btn{
   padding: 12px;
   background: #1e2167;
   color: white;
   border: 2px solid white;
   border-radius: 6px;
   font-size: 20px;
   cursor: pointer;
}

.rightsection img{
    width: 80%;
}

.purple{
    color: blueviolet;
}
#element{
    color: rgb(144, 56, 226);
}
.secondsection{
   max-width: 80vw;
    margin: 0 auto;
    height: 80vh;
}

.secondsection h1{
    font-size: 1.9rem;
}
.secondsection .box{
    background: white;
    width: 86vw;
    height: 2px;
    margin: 56px 0;
    display: flex;
}
.text-grey{
    font-size: 1rem;
    color: grey;
}
.secondsection .vertical{
    height: 93px;
    width: 1px;
    background:white;
    margin: 0 180px;
}
.image-top {
    width: 23px;
    position: relative;
    top: -32px;
    left:-9px
}
.vertical-title {
    position: relative;
    top: 75px;
    width: 150px;
    font-size: 14PX;

}
.vertical-desc{
    position: relative;
    top: 14px;
    color: grey;
    width: 150px;
    font-size: 9px;
}
footer{
    background-color:#0d031682;
}
.footer{
    display: flex;
   padding: 23px 122px;
   justify-content: space-evenly;

}
.footer ul{
    list-style: none;
}
.footer >div{
    width: 223px;
}
footer .footer-rights{
    text-align: center;
    padding: 25px 0;
    color:grey;   
}
.footer ul li{
    font-style: oblique
    ;
}

form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

label {display: block;}

input[type=text], select {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}


.form{
    border:5px;
    background-color: #f2f2f2;
    padding: 20px;
}
label {display: block;}

input[type=Submit], select {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  cursor: pointer;
  background-color: #45a049;
  color: white;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=submit]:hover {
  background-color: #45a049;
}
.form >div{
    border:5px;
    background-color: #f2f2f2;
    padding: 20px;
}